<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903983896594-8usld5eqn3r3710acckp3ho94v91hgr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903983896594-8usld5eqn3r3710acckp3ho94v91hgr6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903983896594-u6651ppoj4a7u22bhkf9f3vb9ac599ke.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD--6PAnRrPlvhSScHf8G1IJhyczidtbwk</string>
	<key>GCM_SENDER_ID</key>
	<string>903983896594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ott.dhakalive.app.dhakalive</string>
	<key>PROJECT_ID</key>
	<string>dhaka-ott</string>
	<key>STORAGE_BUCKET</key>
	<string>dhaka-ott.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903983896594:ios:34d93cd7905667d41020cb</string>
</dict>
</plist>